.detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info-container {
  padding: 40px 0 0 40px;
}

.img-container {
  min-width: 45vw;
  padding: 40px 0 0 40px;
}
.comic-container {
  padding: 40px;
}
.comic-container li {
  text-decoration: none;
  color: var(--red);
}
p {
  max-width: 400px;
}
img {
  display: flex;
  border-radius: 10px;
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  box-shadow: 0 0 8px 0 var(--red);
}
img:hover {
  box-shadow: 0 0 12px 0 var(--red);
}
button {
  margin: 5px;
}
.listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px;
}
.cardContainer {
  margin: 0;
  padding: 0;
  color: #fff;
  max-width: 100%;
}

/* custom styles for mobile & ipad devices */
@media screen and (max-width: 900px) {
  .info-container {
    padding: 10px;
  }
  .detail-container {
    padding-left: 10px;
  }
}
