<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #wraper
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar class="homeToolbar">
      <mat-icon routerLink="./" aria-hidden="false" aria-label="home icon"
        >home</mat-icon
      ></mat-toolbar
    >

    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item routerLink="./heroeslist" (click)="closeSideNav()">
        <a matLine>Heroes List</a>
      </mat-list-item>

      <mat-list-item routerLink="./searchHero" (click)="closeSideNav()">
        <a matLine>Search Hero</a>
      </mat-list-item>

      <mat-list-item routerLink="./heroTeam" (click)="closeSideNav()">
        <a matLine>My Hero Team</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="wraper.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div class="logo">
        <img
          *ngIf="isHandset$ | async"
          src="https://www.marvel.com/static/images/favicon/android-chrome-icon-194.png"
          width="52"
          height="52"
        />
        <img
          *ngIf="!(isHandset$ | async)"
          src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Marvel_Logo.svg"
          width="130"
          height="52"
        />
      </div>
      <span class="spacer"></span>
    </mat-toolbar>

    <div class="ylb-app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
