.buscador-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
h1 {
  text-align: center;
  margin-top: 15px;
}
.mat-form-field {
  width: 300px;
  margin: 20px 30px 10px 0;
}
.selectedHero {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
