<div class="buscador-container">
  <mat-form-field appearance="fill">
    <mat-label>Buscar héroe por nombre</mat-label>
    <input
      type="text"
      placeholder="Buscar héroe por nombre..."
      aria-label="Nombre Héroe"
      matInput
      [(ngModel)]="termino"
      [matAutocomplete]="auto"
      (input)="buscando()"
    />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="opcionSel($event)"
    >
      <mat-option class="errMessage" *ngIf="!heroes && !termino" [value]="">
        No hemos encontrado ninguna coincidencia con la palabra {{ termino }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div *ngIf="heroes" class="selectedHero">
  <div *ngFor="let heroe of heroes">
    <app-hero-card [heroe]="heroe"></app-hero-card>
  </div>
</div>
<mat-divider> </mat-divider>
