<h1>{{ myTeam.nombre | uppercase }}</h1>

<div class="heroData">
  <div class="header">
    <h2>
      {{ myTeam.nombre | uppercase
      }}<button (click)="editar()"><mat-icon>edit</mat-icon></button>
    </h2>

    <p>{{ myTeam.descripcion | titlecase }}</p>
  </div>
  <div *ngIf="edit"><app-team-form></app-team-form></div>
</div>
<mat-divider></mat-divider>
<br />
<div class="listContainer">
  <div class="cardContainer" *ngFor="let heroe of teamHeroes">
    <app-selected-hero-card
      [heroe]="heroe"
      (remove)="removeHeroe($event)"
    ></app-selected-hero-card>
  </div>
</div>
