<form [formGroup]="myForm" (ngSubmit)="addteamData()">
  <input
    type="text"
    placeholder="Nombre de tu equipo"
    formControlName="nombre"
  />
  <br />
  <span class="error" *ngIf="isValidForm('nombre')"
    >Exribe entre 1 y 15 letras</span
  >
  <br />
  <textarea
    placeholder="Descripción de tu equipo..."
    formControlName="descripcion"
  ></textarea>
  <br />
  <span class="error" *ngIf="isValidForm('descripcion')"
    >Escribe entre 3 y 50 caracteres
  </span>

  <br />

  <button type="submit">Guardar</button>
</form>
