form {
  padding: 10px;
  text-align: center;
}

input,
textarea {
  background-color: #303030;
  border: none;
  margin-top: 1rem;
  outline: none;
  color: white;
  border-radius: 10px;
  width: 90%;
  border-bottom: 1px solid var(--red);
  height: 30px;
}

textarea.form-control {
  margin-top: 2rem;

  color: white;
}

textarea::placeholder {
  color: white !important;
  opacity: 0.8;
  line-height: 1.5;
}

input:hover {
  cursor: text;
}
input:focus,
textarea:focus {
  border-color: var(--red);
  box-shadow: 0 0 8px 0 var(--red);
}

button {
  margin: 1rem auto;
  border: 4px solid var(--red);
  text-transform: uppercase;
  min-height: 40px;
  transition: all 0.1s ease-in-out;
  color: var(--red);
  width: 60%;
  border-radius: 5px;
  background-color: #303030;
  letter-spacing: 2px;
}
button:hover {
  background-color: var(--red);
  box-shadow: 0 0 12px 0 var(--red);
  color: white !important;
  transform: scale(1.01);
}

.error {
  color: crimson;
}
