:root {
  --red: #e8442e;
  --dark: #151515;
  --green: #316518;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spacer {
  flex: 1 1 auto;
}
.green {
  background-color: var(--green);
}
